.combine{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image1{
    width: 400px;
    height: 480px;
}
.mainhead{
    font-size: 60px;
}

.Circle1,
.Circle1 * {
  box-sizing: border-box;
}
.Circle1 {
  background: #e87121;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  position: relative;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  float: right;
}